<h1> Prerequisites:</h1>
<h3> Angular </h3>
<h3> RxJS</h3>
<h3> Angular CLI</h3>
<h3> Observable</h3>

<h1> Table of Content</h1>
<h3> What are RxJS Operations? </h3>
<h3>Uses of RxJS operations</h3>
<h3>Common RxJS Operations in Angular</h3>
<h3>Steps to create Angular Project</h3>
<h3>Common RxJS operators</h3>
<h1> What are RxJS Operations?</h1>
<h3> In Angular applications, RxJS (Reactive Extensions for JavaScript) is a powerful library used for handling
  asynchronous
  and event-based programming using observables. RxJS provides a wide range of operators that enable you to manipulate,
  transform, combine, and manage observables in a flexible and functional way. These operators make it easier to work
  with
  data streams and asynchronous operations in a reactive manner.
</h3>

<h1>Uses of RxJS operations</h1>
<h3>Allows the users to map function to transform the value as given by the observable.</h3>
<h3>Used to collect and combine various observables into one observable.</h3>
<h3>Used to determine the number of values that will be emitted by the observable.</h3>
<h3>Used to tackle or handle the error which is emitted by the observable.</h3>
<h3>Used to filter the data on the basis of some function.</h3>
<h3>Used to determine the time when the values will be emitted by the observables.</h3>
<h1>Common RxJS Operations in Angular</h1>
<h2> 1 - Observable Creation: </h2>
<h3><span>of(): </span>Creates an observable that emits a sequence of values.</h3>
<h3><span>from(): </span>Converts an array, promise, or iterable into an observable.</h3>
<h3><span>ajax(): </span>Performs an XMLHttpRequest with the provided options and returns an observable.</h3>
<h2> 2 - Combination Operators: </h2>
<h3><span>merge(): </span>Combines multiple observables into one by merging their emissions.</h3>
<h3><span>combineLatest(): </span>Combines the latest values from multiple observables into an array or object.</h3>
<h3><span>forkJoin(): </span>Combines the last values emitted by multiple observables and emits a single value when all
  observables
  complete.</h3>
<h2> 3 - Filtering Operators: </h2>
<h3><span>filter(): </span>Emits only those values from an observable that satisfy a specified condition.</h3>
<h3><span>distinctUntilChanged(): </span>Emits a value only if it is different from the previous value.</h3>
<h3><span>debounceTime(): </span>Emits a value from the source observable only after a specified duration has passed
  without any
  other value being emitted.</h3>
<h2> 4 - Transformation Operators: </h2>
<h3><span>map():</span> Transforms each value emitted by an observable into a new value.</h3>
<h3><span>pluck(): </span>Extracts the value of a specified property from each emitted object.</h3>
<h3><span>scan(): </span>Applies an accumulator function to each value emitted by an observable and emits each
  intermediate result.
</h3>
<h2> 5 - Error Handling Operators: </h2>
<h3><span>catchError(): </span>Handles errors emitted by the source observable and returns a new observable or throws
  an error.
</h3>
<h3><span>retry(): </span>Resubscribes to the source observable a specified number of times if an error occurs.</h3>
<h2> 6 - Utility Operators: </h2>
<h3><span>tap(): </span>Performs side effects for each emission on the source observable without modifying the emitted
  values.</h3>
<h3><span>delay(): </span>Delays the emissions from the source observable by a specified duration.</h3>


<div>
  <h2>example Map </h2>
  <h3>Output Data using map operator * 2 </h3>
  <h3>
    const observable = of(1, 2, 3, 4, 5);
  </h3>
  <ul>
    <li *ngFor="let data of outputMappedData">{{ data }}</li>
  </ul>
</div>

<div>
  <h2>example filter </h2>
  <h3>Output Data which greater than 7 </h3>
  <h3>
    const observableTwo = of(1, 2, 3, 4, 5, 11, 13, 17, 19, 0, 5, 7);
  </h3>
  <ul>
    <li *ngFor="let data of outputFilteredData">{{ data }}</li>
  </ul>
</div>

<div>
  <h2>example distinctUntilChanged </h2>
  <h3>filter out consecutive duplicate values from an observable stream.</h3>
  <h3>
    const observable three = of( 1 , 1 , 2 , 2 , 3 , 3 , 4 , 4);
  </h3>
  <ul>
    <li *ngFor="let data of outputDistinctUntilChanged">{{ data }}</li>
  </ul>
</div>

<div>
  <h2>example mergeMap (flatMap) </h2>
  <h3> Output Data using the mergeMap operator print Squaring the number </h3>
  <h3>
    const observableFour= of(1, 2, 3, 4, 5);
  </h3>
  <ul>
    <li *ngFor="let data of outputMergeMapData  | async ">{{ data }}</li>
  </ul>
</div>


<div>
  <h2>combineLatest Example</h2>
  <h3>
    const observable1 = of(1, 2, 3, 4);
    <br>
    const observable2 = of('A', 'B', 'C', 'D');
    <br>
    Latest values from observables
  </h3>
  <ul>
    <li *ngFor="let pair of outputCombinedValues">
      {{ pair[0] }} - {{ pair[1] }}
    </li>
  </ul>
</div>
